/* colors */
$transparent: transparent;
$darkColor: #000000;
$lightColor: #ffffff;
$crimson: #D6002A;
$bodyColor: #f7f7f7;
$darklight: #333333;

$lightgray: #D0D6E0;
$dimgray: #4F5361;
$lavender: #E5E8EE;
$steelblue: #2471a2;
$green: #008000;
$gold: #ffc107;
$mistyrose: #f3dee3; 




/* fonts */
$font-family: 'Roboto', sans-serif;
