<div class="d-flex align-items-stretch flex-fill mfe-content-wrapper pt-3 h-100">
    <div class="flex-fill px-3 pt-0 w-100 ng-tns-c196-0 ng-trigger ng-trigger-routerTransitionRight">
        <div class="row mb-3">
            <div class="col-12 col-xl-5 py-2">
                <h1>Create your Risk Assessment Questionnaire</h1>
            </div>
            <div class="col-12 col-xl-7 d-block d-sm-flex justify-content-end">
                <div class="p-1 d-inline-flex">
                    <finlex-button type="secondary" size="sm">
                        <i class="fas fa-eye"></i>
                    </finlex-button>
                </div>
                <div class="p-1 d-inline-flex">
                    <finlex-button type="secondary" size="sm">
                        <i class="fas fa-plus"></i> Add new step
                    </finlex-button>
                </div>
                <div class="p-1 d-block d-sm-inline-flex">
                    <finlex-button type="secondary" [fill]="true" size="sm" (buttonClick)="addNewQuestion()">
                        <i class="fas fa-plus"></i> Add new question
                    </finlex-button>
                </div>
                <div class="py-1 pl-1 d-block d-sm-inline-flex">
                    <finlex-button type="primary" [fill]="true" size="sm" disabled="true">
                        Request Publication
                    </finlex-button>
                </div>
            </div>
        </div>
        <div class="border-bottom border-brand-1">
            <div class="pb-1">
                <span class="text-brand-1 pr-3">STEP 1</span>
                <finlex-button type="link" class="border-left" size="sm">
                    <i class="fas fa-pen"></i>
                </finlex-button>
                <finlex-button type="link" class="border-left" size="sm">
                    <i class="far fa-trash-alt"></i>
                </finlex-button>
                <finlex-button type="link" class="border-left border-brand-1" size="sm">
                    <i class="fas fa-info-circle"></i>
                </finlex-button>
            </div>
        </div>
    </div>
</div>